.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  display:flex;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #141414;
  gap: 20px;
}

.content{
  display: flex;
  flex: 1;
}

.bio{
  flex:2;
  box-sizing: border-box;
  background-color: black;
}

.inner-bio{
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 70%;
  justify-self: center;
}

.project-display{
  background-color: #151515;
  box-sizing: border-box;
  flex:1;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1{
  background: linear-gradient(to right,#C9D6FF, #E2E2E2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
  background-position: center;
  display: inline-block;
}

h2{
  margin-bottom: 0px;
}

.project-one{
  background: linear-gradient(to right,#d53369, #cbad6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  display: inline-block;
}

.project-two{
  background: linear-gradient(to right,#CB356B, #BD3F32);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  display: inline-block;
}

.project-three{
  background: linear-gradient(to right,#43C6AC, #F8FFAE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  display: inline-block;
}
